{% extends 'base.html.twig' %}
{% block stylesheets %}
            <link href="{{ asset('css/feedback_index.css') }}" rel="stylesheet" />
        {% endblock %}
{% block title %}RequestManagement index{% endblock %}

{% block body %}
   <div class="adminSide_bar">
            {% include 'dashbord/adminSide_bar.html.twig' %} 

        </div>
   <div class="autoInfo_container">
     <h1>Demande automobiles </h1>
    <table class="autoInfo_table">
        <thead>
            <tr class="headerTable_tittle">
                
                <th class="range">Nom</th>
                <th class="range">Prenom</th>
                <th class="range">Mail</th>
                <th class="range">PhoneNumber</th>
                <th class="range" >Sujet de la demande </th>
  
         
            </tr>
        </thead>
        <tbody>
        {% for request_management in request_managements %}
            <tr>
              
                <td class="range">{{ request_management.Nom }}</td>
                <td class="range">{{ request_management.Prenom }}</td>
                <td class="range">{{ request_management.mail }}</td>
                <td class="range">{{ request_management.phoneNumber }}</td>
                <td class="range">{{ request_management.RequestObject }}</td>
              
                <td class="btn">
                    <a href="{{ path('app_request_management_show', {'id': request_management.id}) }}">Voir en détail</a>
                    <a href="{{ path('app_request_management_edit', {'id': request_management.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_request_management_new') }}">Create new</a>
{% endblock %}
{% block footer %}
{% endblock %}