{% extends 'base.html.twig' %}
  {% block stylesheets %}
            <link href="{{ asset('css/feedback.css') }}" rel="stylesheet" />
        {% endblock %}

{% block title %}Demande de service{% endblock %}

{% block body %}
  

<div class="formContent">
  <h1>Demande de :{{ request_management.Nom }} {{ request_management.Prenom }}</h1>
    <table class="feedbackShow">
        <tbody>
         
            <tr>
                <th class="rangeTitle">Nom</th>
                <td>{{ request_management.Nom }}</td>
            </tr>
            <tr>
                <th class="rangeTitle">Prenom</th>
                <td>{{ request_management.Prenom }}</td>
            </tr>
            <tr>
                <th class="rangeTitle">Mail</th>
                <td>{{ request_management.mail }}</td>
            </tr>
            <tr>
                <th class="rangeTitle">Téléphone</th>
                <td>{{ request_management.phoneNumber }}</td>
            </tr>
            <tr>
                <th class="rangeTitle">Demande</th>
                <td>{{ request_management.RequestObject }}</td>
            </tr>
           
        </tbody>
    </table>

    <a class="button"href="{{ path('app_request_management_index') }}">Retour à la liste</a>

    <a class="button2"href="{{ path('app_request_management_edit', {'id': request_management.id}) }}">Modifier</a>

    {{ include('request_management/_delete_form.html.twig') }}

    </div>
{% endblock %}
